<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8" />
  <title>new user</title>
</head>
<body>
<section  th:fragment="add_user">
  <div class="modal fade" id="add_user" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="dialog" th:style="'width: 50%;'">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">x
          </button>
          <h4 class="titre-header titleAddUser">Nouvel utilisateur</h4>
          <h4 class="titre-header hidden titleUpdateUser">Modification utilisateur</h4>
        </div>
        <form th:action="@{'/add/user'}" id="formAddUser" method="post" th:object="${userForm}">

          <div class="modal-body">
            <input type="hidden" th:field="*{id}" class="userId"/>

              <div class="row">
                <div class="col-md-5">
                  <span>Prénom *</span>
                </div>
                <div class="col-md-7">
                  <input type="text" th:field="*{firstName}"  placeholder="Prénom" class="form-control firstNameAddUser AddUser" />
                </div>
              </div>

              <div class="row spacer">
                <div class="col-md-5">
                  <span>Nom *</span>
                </div>
                <div class="col-md-7">
                  <input type="text" th:field="*{lastName}" placeholder="Nom" class="form-control lastNameAddUser AddUser" />
                </div>
              </div>

              <div class="row spacer usernameHasError" th:if="${usernameHasError == 'true'}">
                <span th:style="'color: red; float: right; margin-right: 10px;'">Ce nom d'utilisateur existe déjà !</span>
              </div>
              <div class="row spacer">
                <div class="col-md-5">
                  <span>Nom d'utilisateur *</span>
                </div>
                <div class="col-md-7">
                  <input type="text" th:field="*{username}" placeholder="Nom d'utilisateur" required="required" class="form-control usernameAddUser AddUser" />
                </div>
              </div>

            <div class="row spacer">
              <div class="col-md-5">
                <span>Email *</span>
              </div>
              <div class="col-md-7">
                <input type="text" th:field="*{email}" placeholder="Email" required="required" class="form-control emailAddUser AddUser" />
              </div>
            </div>

            <div class="row spacer">
              <div class="col-md-5">
                <span>Téléphone *</span>
              </div>
              <div class="col-md-7">
                <input type="text" th:field="*{phone}" placeholder="Téléphone"  class="form-control phoneAddUser AddUser" />
              </div>
            </div>

            <div class="row spacer">
              <div class="col-md-5">
                <span>Adresse * </span>
              </div>
              <div class="col-md-7">
                <input type="text" th:field="*{address}" placeholder="Adresse"  class="form-control addressAddUser AddUser" />
              </div>
            </div>

              <div class="row spacer">
                <div class="col-md-5">
                  <span>Role *</span>
                </div>
                <div class="col-md-7">
                  <select th:field="*{roleId}" class="form-control roleIdAddUser" required="required">
                    <option th:each="role: ${roles}"
                       th:value="${role.id}" th:text="${role.name}" th:selected="${userForm.roleId == role.id}">

                    </option>
                  </select>
                </div>
              </div>

              <div class="row spacer">
                <div class="col-md-7">
                    <label for="sendMailCheck">Envoi le mot de passe par mail</label>
                    <input type="checkbox" name="sendMail" id="sendMailCheck" th:value="*{sendMail}" th:checked="*{sendMail}" th:field="*{sendMail}" class="checkedSendMail form-control" />
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button value="Annuler" class="btn btn-default" data-dismiss="modal">
              Annuler
            </button>
            <button type="submit" id="btnSubmitAddUser" class="btn btn-success">
              Valider
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>