@media only screen and (max-width : 780px) {
   .navbar-fixed-top {
     position: relative;
   }

}

.form-control{
border-radius: 0;
box-shadow: none;
height: 34px;
border: 1px solid #ccc;
margin-bottom:10px;
}

.entete-background{
  background-color: #AEB6BF;
  color: white;
  /* #D6146B */
}

.btn-decor{
  background-color: #AEB6BF;
  color: white;
}

.bloc-header{
  width: 100%;
  height: 50px;
  background-color:#AEB6BF;
  color: white;
}
.bloc-center{
  width: 100%;
}

.titre-header{
  text-align: center;
  font-size: 15px;
}
.modal-header{
 background-color: #AEB6BF;
 color: white;
}
.well{
  background-color: #AEB6BF;
  color: white;
}

.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.legend-scheduler-border {
    /*border: 1px groove #ddd !important;*/
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.menu-left{
   border: 1px groove #ddd !important;

}

.leftside ul{
    margin-bottom: 5px;
    width: 70%;
    float: right;
    margin-left: 0;
    padding-left: 0;
    clear: both;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 0px;
}

.rightside{
background: #FFF;
margin-left: 8%;
padding-left: 25px!important;
padding-right:25px !important;
padding-bottom: 10px;
min-height:700px;
box-shadow: 1px 1px 9px #C0C0C0;
-moz-box-shadow: 1px 1px 9px #C0C0C0;
-webkit-box-shadow: 1px 1px 9px #C0C0C0;
}

.text-table{
  text-align: right;
}

.text-c{
  text-align: center;
}

.msg-error{
  color: red;
}

.text-info{
  font-weight: bold;
}

.link-menu{
 color: blue;
 margin-left: 10px;
}

.my-overflow {
    overflow-y: auto;
    height: 150px;
    max-height: 150px;
}

.mytab .active{
  background-color:lightblue;
}

.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.legend-scheduler-border {
    /*border: 1px groove #ddd !important;*/
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.dataTables_wrapper .dataTables_length {
  float: right;
}
.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #F536C0;
  color: black!important;
  border-radius: 4px;
  border: 1px solid #ff003e;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #AEB6BF;
  color: black!important;
}

.align-right {
  text-align: right;
}

.spacer{
  margin-top: 15px;
}

.menu_haut a {
  font-size: 18px;
}
.text-menu-haut {
  font-size: 14px;
}