<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta th:charset="utf-8"/>
  <meta th:http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen" th:href="@{/css/style.css}"/>
  <link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="screen"
        th:href="@{/css/bootstrap.min.css}"/>
  <link type="text/css" rel="stylesheet" media="screen" th:href="@{/css/font-awesome.min.css}"/>
  <title>der</title>
</head>
<body>

<section id="wrapper" class="container" style="width:100% !important;float:left;overflow-x: hidden;">
  <div class="box_header">
    <section class="l-header">
      <header>
      <nav id="menu_haut" class="navbar navbar-inverse navbar-fixed-top menu_haut" th:style="'background: #D1002D; color: white'" role="navigation" >
          <div class="navbar-header" style="margin-left: 1%">

              <a class="navbar-brand" th:href="@{/users}" >
                  <strong th:style="'color: white;'"><span><i class="fa fa-code-fork"></i></span> DER</strong>
              </a>

          </div>
          <div class="container-fluid" >


            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a href="#" th:href="@{/users}" th:style="'color: white'" class="text-menu-haut" ><span><i class="fa fa-users"></i></span> Utilisateurs</a>
                </li>


              <li  class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="#" th:style="'color: white;'" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Paramétrage<span class="caret"></span></a>
                <ul class="dropdown-menu" id="myDropdown" th:style="'font-size: 14px;'">
                    <!--
                    <li><a href="#" th:href="@{/settings}" th:style="'color: #0B173B'" class="text-menu-haut"><span> <i class="fa fa-gears"></i></span> Settings</a></li>
                    <li><a href="#" th:href="@{/school-periods}" th:style="'color: #0B173B'" class="text-menu-haut"><span><i class="fa fa-calendar-check-o"></i></span> Années scolaires</a></li>
                  <li><a href="#" th:href="@{/cycles}" th:style="'color: #0B173B'" class="text-menu-haut"><span><i class="fa fa-cubes"></i></span> Cycles</a></li>
                  <li><a href="#" th:href="@{/classes}" th:style="'color: #0B173B'" class="text-menu-haut"><span><i class="fa fa-home"></i></span> Classes</a></li>
                  <li><a href="#" th:href="@{/subjects}" th:style="'color: #0B173B'" class="text-menu-haut"><span><i class="fa fa-folder"></i></span> Matières</a></li>
-->


                </ul>
              </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a href="#" th:style="'color: white'" class="text-menu-haut" ><span><i class="fa fa-graduation-cap"></i></span> Elèves</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a href="#" th:style="'color: white'" class="text-menu-haut" ><span><i class="fa fa-smile-o"></i></span> Parents</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" >
                    <a href="#" th:style="'color: white'" class="text-menu-haut" ><span><i class="fa fa-envelope"></i></span> Push sms</a>
                </li>


           </ul>
            <ul class="nav navbar-nav navbar-right" th:style="'margin-right: 10px;'">
                <li class="dropdown">
                    <a href="#" th:style="'color: white;'" data-toggle="dropdown" th:href="@{'/mon-compte'}">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="text-menu-haut" th:text="${#authentication.name}">Profile</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="myDropdownProfile">
                        <li><a href="#" th:href="@{/mon-compte}" th:style="'color: #0B173B; font-size: 14px;'" class="text-menu-haut"><span class="glyphicon glyphicon-cog"></span> Mon compte</a></li>
                        <li><a href="/logout" th:style="'color: #0B173B; font-size: 14px;'" class="text-menu-haut"><span class="glyphicon glyphicon-off"></span> Se deconnecter</a></li>

                    </ul>
                </li>
            </ul>

        </div>
      </nav>
      </header>
    </section>
  </div>

  <section class="row l-content" th:style="'margin-top: 7%;'">

        <div class="col-md-10 rightside">
             <section layout:fragment="content" th:style="'width:98%;'">

             </section>
        </div>

  </section>


<script src="../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="../static/js/jquery-dataTable.min.js" th:src="@{/js/jquery-dataTable.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/notify.min.js}"></script>
<script src="../static/js/customer.js" th:inline="javascript" th:src="@{/js/customer.js}"></script>
<script th:src="@{/js/dataTables.responsive.js}"></script>
<script src="../static/js/bootstrap-datepicker-fr.js" th:src="@{/js/bootstrap-datepicker-fr.js}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker({format: "dd-mm-yyyy", autoclose:true, todayHighlight: true});
    $('.datepicker2').datepicker({format: "dd-mm-yyyy hh:mm:ss", autoclose:true, todayHighlight: true});
    $('.datepickerForm').datepicker({format: "dd-mm-yyyy", autoclose:true, todayHighlight: true, orientation: 'top left',});
    $('.datepickerForm2').datepicker({format: "yyyy-mm-dd", autoclose:true, todayHighlight: true, orientation: 'top left',});
  });
</script>
</section>
</body>
</html>